/* Declaring global CSS variables */
:root { 
    /*Colors*/
    --base:#F0FFFF;
    --background-col:blueviolet;
    --header-col:linear-gradient(90deg, rgb(137, 134, 184) 0%, rgba(222,22,43,1) 67%, rgba(0,212,255,1) 100%);
    --backgroundDiv :linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(72,228,176,1) 0%, rgba(0,212,255,1) 100%);
    --ul-btn-col:magenta;
    --important:red;
    --dark-col:purple;

    /* --header-bg-col:#2f4f4f;
    --header-name-col :#00FFFF; */
    --header-font:'Gemunu Libre', sans-serif;
    --ulfont: 'Rubik Beastly', cursive;
    --text-font:'Bebas Neue', cursive;
    --questionfont:'Titillium Web', sans-serif;
    --score-col:greenyellow;
    /*Borders*/
    --border-ul: 10px dashed purple;


  }
html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }
  
  body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: 'revert',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    background-color:var(--background-col);

    
  }

  header{

    margin: 90px;
  }
  
 .display-flex{
    display: flex;
  }

  .direction-column{

    flex-direction: column;
  }


.Home{
    text-align: center;
    
}
h1,.Timer{
  color:var(--base);
  font-size: 70px;
  font-family:var(--header-font);
}

.btnDiv{

  padding-bottom: 60px;
}


.btn{

  font-family: var(--ulfont);
  text-align: center;
  font-size: 40px;
  color:var(--ul-btn-col);
  cursor: pointer;
  background-color: var(--base); 
  border: 4px solid var(--ul-btn-col);
  padding: 10px;
  width: 280px;

}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: var(--ul-btn-col);
  color: var(--base);
}

span{
  color :var(--important);
}

.Score{
font-family: var(--text-font);
color: var(--score-col);
font-size: 40px;


}
.Timer{

text-align:center;

}

.Quiz{
    /* text-align: center;
    display: flex; */
  
}


ol,ul{


  color: var(--ul-btn-col);
  font-size: 40px;
  font-family:var(--ulfont);
  margin-top: 40px;
  background: var(--backgroundDiv) no-repeat;
  border-radius: 15px 50px 30px 5px;
  border:var(--border-ul);
  list-style: auto;


}

li{
  font-family: var(--text-font);
    color:var(--base);
    text-align: start;
    margin-left: 60px;
    margin-top: 40px;
  


}

.this:hover{
  color:var(--dark-col);
  background-color: var(--score-col);


}