body{background-color: lightblue;}
.Presentation{
    text-align: center;
    
}
.Timer{

text-align:end;
color: red;

}

.Quiz{
    text-align: center;
    color: yellow;
}


ol{
    color: purple;
    margin: 200px;
    background-color: white;

}

li{
    color: royalblue;
    text-align: start;
    color: royalblue;
    margin: 34px 108px 50px;


}